:root {
    /* //# Front-end Style Guide
    //## Layout
    //The designs were created to the following widths:
    //- Mobile: 375px
    //- Desktop: 1440px
    //## Colors  */
    --Primary-bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Neutral-Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
}

h1 {
    font-size: 1.9rem;
    font-weight: 700;
}

span {
    display: flex;
    flex-direction: column;
}

p {
    margin-bottom: 4rem;
    line-height: 1.7;
}

.btn {
    text-decoration: none;
    font-size: 1rem;
    outline: 0;
    align-self: flex-start;
    letter-spacing: .8px;
    background-color: var(--Very-light-gray);
    box-shadow: 10px 10px 10px #53535328, -10px 10px 10px #53535328;
    padding: .7rem 2rem;
    border: 1px solid transparent;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.btn:hover {
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
}

.Card__1 {
    background: var(--Primary-bright-orange);
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
}

.Card__1 .btn {
    color: var(--Primary-bright-orange);
}

@media only screen and (max-width: 760px) {
    .Card__1 {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.Card__2 {
    background: var(--Dark-cyan);
}

.Card__2 .btn {
    color: var(--Dark-cyan);
}

.Card__3 {
    background: var(--Very-dark-cyan);
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
}

@media only screen and (max-width: 760px) {
    .Card__3 {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.Card__3 .btn {
    color: var(--Very-dark-cyan);
}

.Card__1 .btn:hover,
.Card__2 .btn:hover,
.Card__3 .btn:hover {
    color: #fff;
}